/*
 * @Date: 2021-08-30 10:07:29
 * @LastEditors: Fane Kung
 * @LastEditTime: 2021-09-06 20:03:50
 * @FilePath: /food-order/src/components/Meals/MealsSummary.module.css
 */
.summary {
  text-align: center;
  max-width: 45rem;
  width: 90%;
  margin: auto;
  margin-top: -10rem;
  position: relative;
  background-color: #243b2bc9;
  color: white;
  border-radius: 14px;
  padding: 1rem;
  box-shadow: 0 1px 18px 10px rgba(0, 0, 0, 0.25);
}

.summary h2 {
  font-size: 2rem;
  margin-top: 0;
}